<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gseasypro.app">

    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ZzbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleNoTraslucentTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/ActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/ActivityStyle" />
        <activity android:name=".school.activity.SearchNewsActivity" />
        <activity android:name=".school.activity.BeautifulGsActivity" />
        <activity android:name=".school.activity.GsCommentsActivity" />
        <activity
            android:name=".activity.QRCodeScanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/ActivityStyle"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.H5Activity" />
        <activity android:name=".learn.activity.SelectedBlogSubActivity" />
        <activity android:name=".school.activity.GsBestActivity" />
        <activity android:name=".mine.activity.MyElderSisterActivity" />
        <activity android:name=".learn.activity.CollegeTwoLeaveActivity" />
        <activity android:name=".mine.activity.MyLectureActivity" />

        <receiver android:name="app.gseasypro.com.utils.receiver.SystemReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".mine.activity.MyCollectionActivity" />
        <activity android:name=".mine.activity.SettingActivity" />
        <activity android:name=".mine.activity.QRCodeActivity" />
        <activity android:name=".mine.activity.EditPersonActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleNoTraslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".life.activity.ActiveTimeActivity"
            android:theme="@style/ActivityStyle" />
        <activity
            android:name=".learn.activity.LectureInformationActivity"
            android:theme="@style/ActivityStyle" />
        <activity android:name=".life.activity.ClassContactsActivity" />
        <activity
            android:name=".life.activity.PublicRepairActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".life.activity.OneCardSolutionActivity" />
        <activity android:name=".life.activity.VerificationCardActivity" />
        <activity android:name=".learn.activity.ClassroomQueryActivity" />
        <activity android:name=".learn.activity.ScoreQueryActivity"></activity>
    </application>

</manifest>